<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Growing Tale</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>growing_tales</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

	<!-- Google Sign-In 설정 추가 -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.210253411868-qq5jvek1utmqhsbajkh9eos0137u1hsq</string>
			</array>
		</dict>
	</array>

	<!-- iOS에서 Google Sign-In을 사용할 때 필요한 추가 설정 -->
	<key>GoogleSignIn</key>
	<dict>
		<key>ClientId</key>
		<string>210253411868-g1r3q9l1307huunoie28vmoc26h5pk3l.apps.googleusercontent.com</string>
	</dict>

	<!-- 키보드나 터치바 등을 통한 간접 입력 이벤트를 지원 -->
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

		<!-- Photo Library Usage Description -->
    	<key>NSPhotoLibraryUsageDescription</key>
    	<string>We need your permission to access the photo library to upload your memories.</string>

    	<!-- Camera Usage Description -->
    	<key>NSCameraUsageDescription</key>
    	<string>We need your permission to use the camera to take pictures for your diary.</string>

    	<!-- Photo Library Add Usage Description -->
    	<key>NSPhotoLibraryAddUsageDescription</key>
    	<string>We need your permission to add photos to your library.</string>
</dict>
</plist>